<div id="newBenefitContainer">
    <input _ngcontent-xqo-c12="" class="form-control input-lg col-md-5 col-sm-5" formcontrolname="newBenfit" id="newBenfit" placeholder="Add a new benefit" type="text" ng-reflect-name="newBenfit" [(ngModel)] = 'this.newBenefitText'>
   
    <ng-multiselect-dropdown id="multiselect" class="col-md-2" [(ngModel)]="selectedItems" [ngModelOptions]="{standalone: true}" [placeholder]=" 'Categories' " [data]="dropdownList " [settings]="dropdownSettings " (onSelect)="onItemSelect($event) " (onSelectAll)="onSelectAll($event) ">
    </ng-multiselect-dropdown>
    <button _ngcontent-xqo-c12="" class="btn btn-primary" id="post-button" (click)="createNewBenefit()" >Create</button>
</div>
<div id="mainBody" class="row">
    <div id="benefitsContainer" class="col-md-7">
        <div class="benefitVal" *ngFor="let benefit of this.benefitsArray">
            <p><b>{{benefit.text}}</b></p>
            <div id="icons">
                <i (click)="deleteBenefit(benefit.id)" class="fas fa-trash-alt" title="Delete Benefit" style="color: red;"></i>
            </div>
            <div class="categoryHolder">
                <div id="category-labels" style="background-color: #e74c21;">
                    {{benefit.categories}}
                </div>
            </div>
            <div class="row">
                    <div class="col-10" style="padding: 0px; margin-top:5px">
                            <mat-slider thumbLabel min="1" max="100" style="width:inherit;" value="{{benefit.value}}" (input)="sliderMoved($event, benefit)"></mat-slider>
                    </div>
                <div class="col-2" id="sliderValue">
                    {{benefit.value}}
                </div>
            </div>
            <div class="row">
                    <div class="col-md-12">
                            <button class="btn updateButton" (click)= "updateBenefit(benefit)">Update</button>
                    </div>          
                </div>   
        </div>
    </div>
    <app-category-holder class="col-3" style="margin-left: 7rem;"></app-category-holder>

</div>
