.project-logo{
    font-size: 2.5rem;
    float: left;
    margin-left: 2%;

}

.nav-menu{
  float: right;
  width: 20%;
  margin-top: 2.5%;
  text-align: center;

}

.menu-holder{
  background-color: deepskyblue;
  height: 20%;
}

.menu-item{
  display: inline;
  margin-right: 5%;
}

.menu-button{
  background-color: transparent;
  border: none;
  padding-left:0px;
}

.mat-icon {
  vertical-align: middle;
}
