<div class="menu-holder">
    <div class="project-logo">
        <p> Winbook</p>

    </div>
    <div class="nav-menu">
      <div class=menu-item>
          <a href="#">Projects</a>
          <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>keyboard_arrow_down</mat-icon>
            </button>
      </div>
      <div class=menu-item>
          <a href="#">Profile</a>
      </div>

      <div class=menu-item>
          <a href="#">Logout</a>

      </div>



            <mat-menu #menu="matMenu">
              <button mat-menu-item>
                <span>Project 1</span>
              </button>
              <button mat-menu-item>
                <span>Project 2</span>
              </button>
              <button mat-menu-item>
                <span>Project 3</span>
              </button>
            </mat-menu>
    </div>
</div>

