#vision-form {
    width: 50%;
    margin-top: 30px;
    margin-left: 30px;
    display: flow-root;
}

#vision {
    display: inline;
    width: 90%;
    border: none;
    text-decoration: underline;
}

#save-button {
    display: none;
}

#project-name {
    font-family: 'Lato';
    font-size: 1.5em;
}