.commentText {
    display: table-cell;
    vertical-align: middle;
    width: 35rem;
}

.commentMain {
    display: table;
    padding-left: 30px
}

#header>p {
    display: block;
    width: 100%;
    float: left;
}

#icons {
    display: inline-block;
    float: right;
}

.fas {
    font-size: 12px;
    color: #007bff;
    padding: 3px;
}

.fas:hover {
    font-size: 15px;
    color: black;
    padding: 3px;
}

.commentText p {
    margin: 0;
    display: block;
    margin-top: 3px;
}

#imgDiv img {
    width: 40px;
    padding: 5px;
    margin-top: 30px;
    /* display: table-cell; */
}