.commentText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
    width: 38rem;
}

.commentMain {
    display: table;
    margin-left: 30px;
    margin-top: 1rem;
    padding-bottom: 5px;
    /* border-bottom: 1px grey solid;
    border: 1px solid #ced4da; */
    /* border-radius: .25rem; */
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: 10px;
    background-color: #f2f3f5;
    border-radius: 18px;
    max-width: 100%;
    word-wrap: break-word;
    position: relative;
    white-space: normal;
    word-break: break-word;
}

.commentText p {
    margin: 0;
}

.commentHolder {
    margin-left: 5%;
}

.text {
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background-color: #f2f3f5;
    border: 1px solid #ccd0d5;
    border-radius: 16px;
    margin-top: 10px;
}

.text:focus {
    outline: none;
}

#category-labels {
    display: inline-block;
    margin-right: 10px;
}

#chkIssue {
    margin-left: 10px;
}

#lblIssue {}


/* #header {
    display: block;
    float: left;
} */

#header>p {
    display: contents;
    width: 100%;
    float: left;
}

#icons {
    display: inline-block;
    float: right;
}

#winConText>p {
    display: inline-block;
}

.fas {
    font-size: 12px;
    color: #007bff;
    padding: 3px;
}

.fas:hover {
    font-size: 15px;
    color: black;
    padding: 3px;
}

#comment-button {
    color: #5f666f;
    cursor: pointer;
    float: right;
}

#comment-button:hover {
    text-decoration: underline;
}

#trash {
    color: #990000 !important;
}

#new-comment-wrapper {
    /* float: left; */
    /* width: -webkit-fill-available; */
    /* padding-left: 6.5rem; */
    margin-right: 2rem;
    overflow: auto;
    padding-left: 2rem;
}