.commentText {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px;
}

.commentMain {
    display: table;
    margin-left: 30px;
}

.commentText p {
    margin: 0;
}

.commentHolder {
    margin-left: 3%;
}