<div class="category-holder">
    <p class="category-header">
        Categories
    </p>
    <form id="category-form" [formGroup]="categoryForm" (ngSubmit)="applyCategory()">
        <label formArrayName="categories" *ngFor="let category of categories">
          <input type="checkbox">
          <span id="category-name" [ngStyle]="{'background-color': addHashToCategory(category.color) }">{{category.name}} <span [hidden]="category.type!='mmf'"> (MMF)</span></span>
          <i class="fas fa-times" id="delete-category" (click)="deleteCategory()"></i>
        </label>

        <div class="category-input">
            <div id="name-holder">
                <input #box (keyup)="handleKey($event,box)" class="text" type="text" placeholder="Enter a new category...">
                <input type="color" id="category-color" value="#ff0000">
            </div>
            <label><input type="checkbox" id="mmf-input">Minimum Marketable</label>
        </div>
        <button id="apply-category" type="submit" class="btn btn-primary">Filter</button>
    </form>
</div>
