.form-check {
    padding-top: 3px;
    padding-bottom: 3px;
}

.category-holder {
    position: absolute;
    right: 8%;
    top: 260px;
}

.category-input {
    padding-top: 5px;
}

#category-form label {
    display: block;
}

.category-input input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.category-header {
    text-align: left;
    font-weight: bold;
    font-size: 14pt;
}

#apply-category {
    margin-top: 10px;
}