.form-check {
    padding-top: 3px;
    padding-bottom: 3px;
}

.category-holder {
    position: absolute;
    right: 8%;
    top: 260px;
}

.category-input {
    padding-top: 5px;
}

.category-header {
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}