<div class="category-holder">
    <div id="category-header-wrapper">
        <p class="category-header">
            Categories
        </p>
        <button id="apply-category" type="submit" class="btn btn-primary" (click)="applyCategory()">Filter</button>
    </div>
    <form id="category-form" [formGroup]="categoryForm">
        <label formArrayName="categories" *ngFor="let category of categories">
          <input type="checkbox" (change)="handleCheck($event, category)">
          <span id="category-name" [ngStyle]="{'background-color': addHashToCategory(category.color) }">{{category.name}} <span [hidden]="category.type!='mmf'"> (MMF)</span></span>
          <i class="fas fa-trash-alt trash" id="delete-category" (click)="deleteCategory()"></i>
        </label>

        <div class="category-input">
            <div id="name-holder">
                <input #box (keyup)="handleKey($event,box)" class="text" type="text" placeholder="Enter a new category...">
                <input type="color" id="category-color" value="#ff0000">
            </div>
            <label><input type="checkbox" id="mmf-input">Minimum Marketable</label>
        </div>
    </form>
</div>