<div id="projectAddForm" class="offset-md-2">
    <form>
        <div class="form-group row">
            <label for="projectName" class="col-sm-3 col-form-label">Project Name</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="projectName"  [(ngModel)]="projectName" [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="projectDescription" class="col-sm-3 col-form-label">Project Description</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="projectDescription" [(ngModel)]="projectDesc" [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="projectDescription" class="col-sm-3 col-form-label">Project Vision</label>
            <div class="col-sm-7">
                <input type="text" class="form-control" id="projectDescription" [(ngModel)]="projectVision" [ngModelOptions]="{standalone: true}"/>
            </div>
        </div>
        <div class="form-group row">
            <label for="access" class="col-sm-3 col-form-label">Access</label>
            <div class="col-sm-7">
                <select id="access" class="form-control" [(ngModel)]="accessLevel" [ngModelOptions]="{standalone: true}">
          <option>private</option>
          <option>public</option>
        </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="BusinessValueWeight" class="col-sm-3 col-form-label">Business Value Weight (0-100)</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" name="BusinessValueWeight" id="BusinessValueWeight" [pattern] = "'^([0-9]|[1-9][0-9]|100)$'" #BusinessValueWeight="ngModel" [(ngModel)]="projectBVW"/>
                <span class='text-danger' *ngIf="BusinessValueWeight.touched && BusinessValueWeight.invalid">
                    <p *ngIf="BusinessValueWeight?.errors?.pattern">Please enter a number between 0 and 100</p>
                  </span>
              </div>
        </div>
        <div class="form-group row">
            <label for="relativePenaltyWeight" class="col-sm-3 col-form-label">Relative Penalty Weight (0-100) </label>
            <div class="col-sm-7">
                <input type="number" class="form-control" name="relativePenaltyWeight" id="relativePenaltyWeight" [pattern] = "'^([0-9]|[1-9][0-9]|100)$'" #relativePenaltyWeight="ngModel" [(ngModel)]="projectRPW"/>
                <span class='text-danger' *ngIf="relativePenaltyWeight.touched && relativePenaltyWeight.invalid">
                    <p *ngIf="relativePenaltyWeight?.errors?.pattern">Please enter a number between 0 and 100</p>
                  </span>
            </div>
        </div>
        <div class="form-group row">
            <label for="easeOfRealizationWeight" class="col-sm-3 col-form-label">Ease of Realization Weight (0-100)</label>
            <div class="col-sm-7">
                <input type="number" class="form-control" name="easeOfRealizationWeight" id="easeOfRealizationWeight" [pattern] = "'^([0-9]|[1-9][0-9]|100)$'" #easeOfRealizationWeight="ngModel" [(ngModel)]="projectERW"/>
                <span class='text-danger' *ngIf="easeOfRealizationWeight.touched && easeOfRealizationWeight.invalid">
                    <p *ngIf="easeOfRealizationWeight?.errors?.pattern">Please enter a number between 0 and 100</p>
                  </span>
            </div>
        </div>
        <div class="form-group row">
            <button class="btn btn-primary" (click)="addProject()">
              Add Project
            </button>
            <mat-spinner *ngIf="loading" [diameter]=35></mat-spinner>

        </div>

        <!-- <button type="button" class="btn btn-primary">Add Project</button> -->
    </form>
</div>
