<div class="mainDiv">
		<a href="#" class="button">+ New Project</a>
		<div class="myProject">
			<div id="innerText">
				<div id="listHeading"><b>My Projects</b></div>
				<ul style="list-style-type:none; font-family: Roboto, 'Helvetica Neue', sans-seri;">
				    <li style="margin: 5px 0;">Winbook 2.0</li>
				    <li>Winbook feedback and issues</li>
				</ul>
			</div>
		</div>
		<div class="joinProject">
			<div id="innerText">
				<div id="listHeading"><b>Join a Project</b></div>
				<ul id="joinList" style="list-style-type:none; font-family: Roboto, 'Helvetica Neue', sans-seri;margin: 10px 0;">
					<li>
						<div class="listItem">
							<a href="#" class="button">Join</a>
							<div id="projectName"><b>Project X</b></div>
							<div id="projectDesc">Project X Description</div>
						</div>
					</li>
					<li>
						<div class="listItem">
							<a href="#" class="button">Join</a>
							<div id="projectName"><b>Project Y</b></div>
							<div id="projectDesc">Project Y Description</div>
						</div>
					</li>
					<li>
						<div class="listItem">
							<a href="#" class="button">Join</a>
							<div id="projectName"><b>Project Z</b></div>
							<div id="projectDesc">Project Z Description</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
