<div class="mainDiv container ml-5">
  <div class="container row justify-content-end">
    <a href="#" class="button">
      + New Project
    </a>
  </div>
  <div class="container row mb-5">
    <div class="myProject pb-4">
      <div id="innerText">
        <div id="listHeading"><b>My Projects</b></div>
        <ul style="list-style-type:none;">
          <a class="projectLink" style="margin: 5px 0;" routerLink="/project">Winbook 2.0</a>
          <!-- <li>Winbook feedback and issues</li> -->
        </ul>
        <div class="row mb-5"></div>
        <div class="row mb-5 mt-5"></div>
      </div>
    </div>
  </div>
  <div class="container row">
    <div class="joinProject pb-5">
      <div id="innerText">
        <div id="listHeading"><b>Join a Project</b></div>
        <ul id="joinList" style="list-style-type:none; margin: 10px 0;">
          <li>
            <div class="listItem mb-4">
              <a href="#" class="button mt-2 ml-5">Join</a>
              <div id="projectName"><b>Project Pineapple</b></div>
              <div id="projectDesc">This is a secret project. Only invited members can join.</div>
            </div>
          </li>
          <li>
            <div class="listItem mb-4">
              <a href="#" class="button mt-2 ml-5">Join</a>
              <div id="projectName"><b>WinSC Comments & Feedback</b></div>
              <div id="projectDesc">Join to give feedback to the WinSC developer team.</div>
            </div>
          </li>
          <!-- <li>
            <div class="listItem">
              <a href="#" class="button mt-2">Join</a>
              <div id="projectName"><b>Project Z</b></div>
              <div id="projectDesc">Project Z Description</div>
            </div>
          </li> -->
          <div class="row mb-5"></div>
          <div class="row mb-5 mt-5"></div>
        </ul>
      </div>
    </div>
  </div>
</div>
