<form id="win-form" [formGroup]='addWinForm' (ngSubmit)="addWin()">
    <div class="box-body">
        <div class="form-group">
            <label for="winpost">Win Condition</label>
            <input type="text" class="form-control input-lg" id="winpost" placeholder="Write a win condition" formControlName='winpost'>
        </div>
    </div>
    <div class="box-footer" id="post-button">
        <button [disabled]='!addWinForm.valid' type="submit" class="btn btn-primary">Post</button>
    </div>
</form>

<div id="win-condition" style="display: none;">
    <p id="winpost-value"></p>
</div>