<form id="win-form" [formGroup]='addWinForm' (ngSubmit)="addWin()">
    <div class="box-body">
        <!-- <label for="winpost">Win Condition</label> -->
        <div class="form-group">
            <input type="text" class="form-control input-lg" id="winpost" placeholder="Write a win condition" formControlName='winpost'>
            <select (change)="changeCategory($event.target.value)">
                <option *ngFor="let category of categories" [value]="category">{{category}}</option>
            </select>
            <button id="post-button" [disabled]='!addWinForm.valid' type="submit" class="btn btn-primary">Post</button>
        </div>
    </div>
</form>