<ngb-tabset>
    <ngb-tab title="Wins">
        <ng-template ngbTabContent>
            <app-project-wins class="row"></app-project-wins>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Benefits">
        <ng-template ngbTabContent>
            <app-project-benefits></app-project-benefits>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Prioritization">
        <ng-template ngbTabContent>
            <app-project-priorization></app-project-priorization>
        </ng-template>
    </ngb-tab>
    <ngb-tab title="Project Settings">
        <ng-template ngbTabContent>
            <app-project-settings></app-project-settings>
        </ng-template>
    </ngb-tab>
</ngb-tabset>