.profile-img {
  text-align: center;
}

.profile-img img {
  object-fit: cover;
  object-position: center;
  width: 70%;
  height: 100%;
}

.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -23.5%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  opacity: 0.6;
  background: #212529b8;
}

.profile-img .file:hover {
  opacity: 0.8;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
