.profile-img {
  text-align: center;
}

.profile-img img {
  object-fit: cover;
  object-position: center;
  width: 175px;
}

.profile-img .file {
  overflow: hidden;
}

.profile-img button {
  border: none;
  border-radius: 0;
  font-size: 15px;
  opacity: 0.6;
  margin-top: -20.1%;
  width: 175px;
  cursor: pointer;
}

.profile-img .file:hover {
  opacity: 0.8;
  cursor: pointer;
}

.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
