.profile-img {
    text-align: center;
}

.profile-img img {
    object-fit: cover;
    object-position: center;
    width: 170px;
    height: 155px;
}

.profile-img .file {
    position: relative;
    overflow: hidden;
    margin-top: -20%;
    width: 170px;
    border: none;
    border-radius: 0;
    font-size: 15px;
    opacity: 0.6;
    cursor: pointer;
}

.profile-img .file:hover {
    opacity: 0.9;
    cursor: pointer;
}

.profile-img .file input {
    position: absolute;
    opacity: 0;
    right: 0;
    top: 0;
}

#password-warning {
    color: red;
}