<div>
	
	<h2>Select the level of importance of each criteria</h2>

	<!-- You will not be able to see this text. 
	<app-win-condition-priorization *ngFor="let winCondition of winConditions" [winCondition]="winCondition"></app-win-condition-priorization>

	-->

	<app-win-condition-priorization *ngFor="let winCondition of winConditions"></app-win-condition-priorization>

	<div>
		<div>
			<span>Business value</span>
			<mat-slider min="1" max="100" step="1" [value]="businessValue"></mat-slider>
		</div>
	</div>

</div>




