<div>
    <div id="button-container">
        <div id="prioritization-buttons">
            <button id="btn-save" class="btn btn-primary" (click)="updatePrioritizationValuesProjectWinConditions()">Save</button>
            <button id="btn-prioritize" class="btn btn-primary" (click)="changeValue()">Prioritize</button>
        </div>
        <div id="select-buttons">
            <button class="btn btn-primary btn-win">Win Conditions</button>
            <button class="btn btn-primary btn-benefit" [disabled]=true>Benefits</button>
        </div>
    </div>

    <div>
        <h5 id="prioritization-title">Select the level of importance of each criteria</h5>

        <div id="slider">
            <div class="col-4">
                <span>Business value</span>
                <input [(ngModel)]="project.businessValueWeight" class="slider-input">
                <mat-slider id="mat-slider" min="1" max="100" step="1" [(ngModel)]="project.businessValueWeight" ></mat-slider>
            </div>

            <div class="col-4">
                <span>Relative Penalty</span>
                <input [(ngModel)]="project.relativePenaltyWeight" class="slider-input">
                <mat-slider id="mat-slider" min="1" max="100" step="1" [(ngModel)]="project.relativePenaltyWeight"></mat-slider>
            </div>

            <div class="col-4">
                <span>Ease of Realization</span>
                <input [(ngModel)]="project.easeOfRealizationWeight" class="slider-input">
                <mat-slider id="mat-slider" min="1" max="100" step="1" [(ngModel)]="project.easeOfRealizationWeight"></mat-slider>
            </div>
        </div>
    </div>

    <div id="weight-titles">
        <span class="title">Business value</span>
        <span class="title">Relative Penalty</span>
        <span class="title">Ease of Realization</span>
    </div>
    <div *ngFor="let winCondition of winConditions">
        <app-win-condition-priorization class="col-7" id="win-conditions" [winCondition]="winCondition"></app-win-condition-priorization>
        <div class="col-5" id="win-weights">
            <app-win-condition-input id="weight-value" label="Business value" [value]="winCondition.businessValue" [winCondition]="winCondition" (winConditionChange)="winCondition=$event"></app-win-condition-input>
            <app-win-condition-input id="weight-value" label="Relative penalty" [value]="winCondition.relativePenalty" [winCondition]="winCondition" (winConditionChange)="winCondition=$event"></app-win-condition-input>
            <app-win-condition-input id="weight-value" label="Ease of Realization" [value]="winCondition.easeOfRealization" [winCondition]="winCondition" (winConditionChange)="winCondition=$event"></app-win-condition-input>
        </div>
    </div>

</div>
