.slider-input {
  width: 50px;
  margin-left: 10px;
}

#prioritization-title {
    font-weight: bold;
    margin: 30px 20px;
    font-size: 18px;
    text-align: center;
}

#button-container {
    display: block;
    height: 50px;
}

#select-buttons {
    text-align: center;
    margin: 20px;
    display: inline;
    float: right;
}

#prioritization-buttons {
    margin-top: 20px;
    display: inline;
    float: left;
}

.btn-win {
    margin-right: 10px;
    /* text-decoration: underline !important;
    color: #990000 !important; */
}

.btn-benefit {
    margin-left: 10px;
}

#btn-save {
    margin-right: 10px;
}

#btn-prioritize {
    margin-left: 10px;
}

#slider {
    display: flex;
    text-align: -webkit-center;
    margin-top: 20px;
}

#mat-slider {
    width: 80%;
    display: block;
}

#win-conditions {
    display: inline-block;
    height: 7rem;
}

#win-weights {
    display: inline-block;
    float: right;
    margin-top: 25px;
}

#weight-value {
    display: inline-block;
    text-align: -webkit-center;
    margin-left: 2rem;
}

#weight-titles {
    float: right;
    margin-right: 9.5rem;
}

.title {
    padding-left: 10px;
    font-weight: bold;
}

app-win-condition-input#weight-value input {
    width: 60px;
}

::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #ffcc01;
}

::ng-deep .mat-accent .mat-slider-ticks {
    opacity: 1!important;
}

::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #ffcc01;
}

::ng-deep .mat-accent .mat-slider-track-fill {
    background-color: #ffcc01;
    height: 5px!important;
}

::ng-deep .mat-accent .mat-slider-track-background {
    background-color: #ced1d4;
    opacity: 1!important;
    height: 5px!important;
}

::ng-deep .mat-accent .mat-slider-track-wrapper {
    height: 5px!important;
}
