<div class="bt-holder">
    <div>
        <button (click)='handleButton(1)' type="button" class="btx btx-up"><i [ngClass]="{'arw-selected': likeType=='1'}" class="fas fa-caret-up fa-2x arw"></i></button>
    </div>
    <div>
        <ng-template #tipContent> {{ generateUpVoters() }} <br>  {{ generateDownVoters() }} </ng-template>
        <a href="#" placement="right" [ngbTooltip]="tipContent" >{{ getScore() }}</a>
    </div>
    <div>
        <button (click)='handleButton(-1)' type="button" class="btx btx-down"><i [ngClass]="{'arw-selected': likeType=='-1'}" class="fas fa-caret-down fa-2x arw"></i></button>
    </div>
</div>


<!--
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary"><i class="fas fa-caret-up"></i></button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <a href="#">8</a>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <button type="button" class="btn btn-primary"><i class="fas fa-caret-down"></i></button>
    </div>
  </div>
-->




