/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/pink-bluegrey.css';

/* @import '../scss/custom.scss'; */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-tabs .nav-link {
    color: #990000;
    font-weight: bold;
}

.btn-primary {
    background-color: #990000 !important;
    border-color: #990000 !important;
}

.btn-primary:hover {
    background-color: #990000 !important;
    border-color: #990000 !important;
}

.input-red {
	border: 5px solid red !important;;
}