<nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
  <img id="logo" src="../../../assets/trojan.png">
  <a class="navbar-brand pb-0" routerLink="/project-list" routerLinkActive="active">WinSC</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mt-3">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" id="projectDropdown" data-toggle="dropdown">
          Projects
        </a>
        <div class="dropdown-menu mt-2 py-0 rounded-0" aria-labelledby="projectDropdown">
          <div class="row">
            <div class="container mt-2 ml-sm-2 mb-1" style="font-size: 10pt; color: #990000;">
              <b>My Projects:</b>
            </div>
          </div>
          <div *ngFor="let project of projects">
            <a class="dropdown-item container py-1" role="button" routerLink="/project">
              {{ project }}
            </a>
          </div>
          <div class="dropdown-divider mb-0"></div>
          <a class="dropdown-item py-2" role="button" routerLink="/project-list">Browse all projects...</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

<!-- <div class="menu-holder">

    <div class="project-logo">
        <p> Winbook</p>
    </div>

    <div class="nav-menu">
        <div class=menu-item>
            <a href="#">Projects</a>
            <button class="menu-button" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
        </div>
        <div class=menu-item>
            <a href="#">Profile</a>
        </div>
        <div class=menu-item>
            <a href="#">Logout</a>
        </div>

        <mat-menu #menu="matMenu">
            <button mat-menu-item>
        <span>Project 1</span>
      </button>
            <button mat-menu-item>
        <span>Project 2</span>
      </button>
            <button mat-menu-item>
        <span>Project 3</span>
      </button>
        </mat-menu>
    </div>
</div> -->
