<ngb-tabset>
    <ngb-tab title="Wins">
      <ng-template ngbTabContent>
          <app-project-wins-component></app-project-wins-component>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Benefits">
      <ng-template ngbTabContent>
        <app-project-benefits-component></app-project-benefits-component>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="Priorization">
        <ng-template ngbTabContent>
          <app-project-priorization-component></app-project-priorization-component>
        </ng-template>
      </ngb-tab>
    <ngb-tab title="Project Settings">
        <ng-template ngbTabContent>
          <app-project-settings-component></app-project-settings-component>
        </ng-template>
      </ngb-tab>
</ngb-tabset>
